body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 400;;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    background-color: orange;
}



.contenitore {
    border: 1px solid #000;
    padding: 20px;
    width: 500px;
    margin: 30px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) -20px 7px 15px 13px, rgba(0, 0, 0, 0.2) -8px -11px 20px 0px inset;
    background-color: lightgreen;
}


    


#testoAlternato p {
    position: relative;
}

.parole i {
    position: absolute;
}



@keyframes fadeUpAndDown {
    
    0%, 100% {
        opacity: 0;
        transform: translateY(10px);
    }
    10%, 40% {
        opacity: 1;
        transform: translateY(0);
    }
}
.parola-attiva {
    opacity: 0;
    display: inline-block;
    animation: fadeUpAndDown 6s linear infinite  backwards;
    color:slategrey
    
}
.parola-attiva:nth-child(2) {

    animation-delay: 2s;
}

.parola-attiva:nth-child(3) {

    animation-delay: 4s;
}
span {
    padding-left: 5px;
}
